html, body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  height: 100%;
  width: 100%;
  scroll-padding-top: 4rem;
}

header {
  -webkit-background: #333; /* Safari */
  -moz-background: #333; /* Firefox */
  -ms-background: #333; /* Internet Explorer */
  -o-background: #333; /* Opera */
  background: #333; /* Standard */
  color: #fff;
  height: 4rem;
  margin: 0;
  text-align: center;
  position: fixed;
  width: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 1rem 2rem;
  margin: 1rem 0.5rem;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#about-me {
  padding-top: 4rem;
  margin-top: 0;
}

h2 {
  color: #333;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  bottom: 0;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.social-links {
  list-style: none;
  padding: 0;
}

.social-links li {
  display: inline;
  margin: 0 10px;
}

social-links li a {
  color: #fff;
  text-decoration: none;
}

form {
  display: -webkit-box; /* Safari */
  display: -moz-box; /* Firefox */
  display: -ms-flexbox; /* Internet Explorer */
  display: -webkit-flex; /* Safari */
  display: flex; /* Standard */
  flex-direction: column;
}

form label {
  margin-top: 10px;
}

form input,
form textarea {
  -webkit-border-radius: 5px; /* Safari */
  -moz-border-radius: 5px; /* Firefox */
  border-radius: 5px; /* Standard */
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
}

form button {
  -webkit-border-radius: 5px; /* Safari */
  -moz-border-radius: 5px; /* Firefox */
  border-radius: 5px; /* Standard */
  margin-top: 10px;
  padding: 10px;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

form button:hover {
  background: #555;
}

/* Ensure images and videos are responsive */
img, video {
  max-width: 100%;
  height: auto;
}

/* Media query for screens with a max-width of 768px */
@media (max-width: 768px) {
  header {
    height: 4rem;
  }

  nav ul {
    display: none; /* Hide the navigation menu */
  }

  nav .hamburger-menu {
    display: block; /* Show the hamburger menu icon */
    cursor: pointer;
  }

  nav ul.show {
    display: block; /* Show the navigation menu when the hamburger menu is clicked */
    text-align: center;
  }

  .hamburger-menu_list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hamburger-menu_list {
    background: gray;
    width: fit-content;
    padding: 0 1rem;
    border-radius: 6px;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
  }

  section {
    padding: 1rem;
    margin: 0.5rem;
  }
}

/* Hamburger menu icon */
.hamburger-menu {
  display: none;
  font-size: 2rem;
  color: #fff;
}
